#appwindow{ background:rgba(0,0,0,0); position:absolute; width:100%; z-index:5; top:0; left:0; border:none; overflow:hidden; border-radius:10px }
#appwindow .windowHeader{ border-bottom:2px solid gray; background-color:gray; height:2rem; padding:0 10px; display:flex; align-items:center; justify-content:space-between }
#appwindow .windowHeader .right{ display:flex; gap:1rem; align-items:center; justify-content:center; background-color:rgba(0,0,0,0) }
#appwindow #windowContent{ height:100vh; background-color:rgba(0,0,0,0); width:100%; overflow-y:scroll }
#appwindow .resize-br{ background:rgba(128,128,128,.3); border-bottom-right-radius:4px; z-index:10 }
#appwindow .resize-handle{ position:absolute; z-index:10; background:rgba(128,128,128,.2); border-radius:2px }
#appwindow .resize-handle-n{ top:-4px; left:10px; right:10px; height:8px; cursor:n-resize }
#appwindow .resize-handle-s{ bottom:-4px; left:10px; right:10px; height:8px; cursor:s-resize }
#appwindow .resize-handle-e{ top:10px; bottom:10px; right:-5px; width:8px; cursor:e-resize }
#appwindow .resize-handle-w{ top:10px; bottom:10px; left:-4px; width:8px; cursor:w-resize }
#appwindow .resize-handle-ne{ top:-4px; right:-4px; width:12px; height:12px; cursor:ne-resize }
#appwindow .resize-handle-nw{ top:-4px; left:-4px; width:12px; height:12px; cursor:nw-resize }
#appwindow .resize-handle-se{ bottom:-4px; right:-4px; width:12px; height:12px; cursor:se-resize }
#appwindow .resize-handle-sw{ bottom:-4px; left:-4px; width:12px; height:12px; cursor:sw-resize }
#contextMenu{ border:1px solid gray; border-radius:10px; width:20%; background-color:rgba(0,0,0,0); height:50vh; margin:5rem auto; backdrop-filter:blur(10px); display:none }
#contextMenu .uperside div{ padding:5px 2rem; text-align:start; cursor:pointer; border-bottom:1px solid gray; border-radius:10px; margin-bottom:5px; font-size:.8rem; font-family:"Courier New",Courier,monospace; font-weight:bold }
#contextMenu hr{ background-color:#000; color:#000 }